body{
    color: rgb(255, 255, 255);
    text-align: left;
    width: 500px;
    margin: auto;
    font-family: sans-serif;
    background:rgba(35, 48, 185, 0.8) url(jeuneformulaire.jpeg) ;
    background-size: cover;
    background-blend-mode: lighten;
    height: 100vh;
    font-size: 20px;
    opacity:1 ;
    
}

h1{
    text-align: center;
    font-size: 30px;
}

#phraseune{
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.boite{
    background-color: rgb(17, 17, 73);
    padding: 20px;
    opacity: 0.8;
}
.input{
    width: 90%;
    height: 30px;
}

.current{
    width: 90%;
    height: 30px;
}

button{
    width: 101%;
    font-size: 30px;
    background-color: rgb(119, 153, 85);
}